*{
    margin: 0;
    padding: 0;
    outline: none; 
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
} 



nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #0a2a4d;
    width: 80px; /* do more research on units */
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px black; /* will change it later */
}


.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px  0 0 1.6em;
    align-items: center;
}

.logo span{
    font-weight: bold;
    padding-left: 2em;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover{
    background-color: #d0342c;

}
nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.logout{
    position: absolute;
    bottom: 0;
}
 