* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #063970;
}
.wellcome {
  margin-top: 1.5rem;
  color: white;
  text-align: center;
}
.quote {
  text-align: center;
  width: 60ch;
}
.anonymous {
  margin: 10px 0 20px 0;
  text-align: center;
}
.anonymous img {
  width: 7%;
  color: white;
}

.blog {
  font-family: "Courier New", monospace;
  font-weight: 500;
  font-size: 17px;
  color: white;
  margin: auto;
  text-align: center;
  border: 2px solid white;
  width: 80%;
  padding: 10px;
}
.blog a {
  color: white;
}
.blog .title {
  text-transform: uppercase;
  color: white;
}
.blog p {
  margin: 20px 0 20px 10px;
  text-align: left;
}
.data {
  display: flex;
}
.views {
  margin-left: auto;
  margin-right: 10px;
}
.date {
  margin-left: 10px;
}

.interaction {
  display: flex;
  justify-content: start;
  margin-left: 10px;
}
.likes {
  margin-right: 20px;
}

.modal-content {
  background-color: black;
  color: white;
  z-index: 1; /* Sit on top */
  position: fixed; /* Stay in place */
  width: 20%;
  max-height: 10%;
}
.hidden {
  display: none;
}
.animation {
  opacity: 1;
  animation: fadeOut 0.1s linear;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    display: none;
  }
}
.contact a {
  width: 100%;
  color: white;
}
