* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body {
  background-image: url("../images/login-anonymous.jpeg");
}
.container {
  background-color: white;
  width: 40%;
  position: absolute;
  right: 0;
  margin: 10%;
  font-family: "Courier New", monospace;
  box-shadow: inset 12px 12px 10px 0 rgba(0, 0, 0, 0.2);
}
.input-info {
  margin: 5%;
}
.input-info input {
  padding: 10px;
}
.input-info .warning {
  margin-top: 10px;
  color: red;
  font-size: 13px;
  width: 40ch;
}
button {
  padding: 10px;
  margin: 2% 0 2% 5%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid gray;
  cursor: pointer;
  overflow: hidden;
  width: 30%;
}

h1 {
  text-align: center;
  margin: 2% 0 2% 0;
}

.register {
  color: black;
  text-decoration: none;
  margin: 2% 0 2% 5%;
}
