* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #063970;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.container {
  margin: 2% 10% 0 15%;
}
h1 {
  margin-bottom: 5%;
}
label {
  display: block;
  margin-bottom: 10px;
}
p input {
  margin-bottom: 3%;
  padding: 10px;
  width: 80%;
  color: black;
  border-radius: 10px;
}
p textarea {
  padding: 10px;
  width: 80%;
  resize: none;
  color: black;
  border-radius: 10px;
}
#submit {
  margin-top: 10px;
  padding: 10px;
  width: 250px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  border-image-slice: 1;
  /* border-width: 5px; */
  color: white;
  letter-spacing: 3px;
  background: linear-gradient(to left, #a07edc, #800252);
  border-radius: 100px;
}
