.blog {
  font-family: "Courier New", monospace;
  font-weight: 500;
  font-size: 17px;
  margin: auto;
  text-align: center;
  width: 80%;
  padding: 10px;
}

.blog .title {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.blog p {
  margin: 20px 0 20px 10px;
  text-align: left;
}
.data {
  display: flex;
}
.views {
  margin-left: auto;
  margin-right: 10px;
}
.date {
  margin-left: 10px;
}

.interaction {
  display: flex;
  justify-content: start;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.likes {
  margin-right: 20px;
}
.comment-section {
  z-index: -1;
  position: absolute;
  width: 80%;
}
textarea {
  border: 1px solid black;
  resize: none;
  margin-bottom: 2%;
}
.container-one {
  display: flex;
  margin-top: 2%;
}
.container-one p {
  font-weight: 600;
  letter-spacing: 1px;
}
#comment {
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
  padding: 10px;
  max-width: 90%;
  overflow-wrap: break-word;
}
.comment-input textarea {
  margin-left: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
}

form {
  margin-bottom: 5%;
}

.interaction-comment {
  margin: 10px 0 0 30px;
  float: left;
}

#post {
  float: right;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px 0 0 0;
  padding: 10px;
  width: 100px;
  font-weight: 600;
  background-color: #063970;
  color: white;
}
hr {
  border: 1px solid black;
  margin-bottom: 3%;
  width: 100%;
}

.text-msg {
  margin-left: 20px;
}
a {
  color: black;
}
a:hover {
  background-color: transparent;
}
#date {
  float: right;
}

.hidden {
  opacity: 0;
}

.comment-info {
  float: left;
  display: flex;
  align-items: flex-start;
}

.sort-modal select {
  transition: all 0.2s linear;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
}
.sort-modal select option {
  padding: 10px;
  font-family: "Courier New", monospace;
  font-size: 16px;
}
.sort-modal select option:hover {
  background-color: rgb(159, 159, 159);
  border-radius: 10px;
}

#sort {
  background-color: #063970;
  width: 100px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
}
#sort i {
  margin-right: 10px;
}
#comments {
  margin-top: 25px;
  margin-right: 50px;
  font-weight: 600;
}
