* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.container {
  text-align: center;
}
hr {
  border: 1px solid rgb(157, 157, 157);
}

#blogs-posted {
  margin-bottom: 2%;
  margin-top: 2%;
}
.blog {
  font-family: "Courier New", monospace;
  font-weight: 500;
  font-size: 17px;
  color: black;
  margin: auto;
  text-align: center;
  border: 2px solid white;
  width: 80%;
  padding: 10px;
}
.blog a {
  color: black;
}
.blog .title {
  margin-top: 2%;
  text-transform: uppercase;
  color: black;
}
.blog p {
  margin: 20px 0 20px 10px;
  text-align: left;
}
.data {
  display: flex;
}
.views {
  margin-left: auto;
  margin-right: 10px;
}
.date {
  margin-left: 10px;
}

.interaction {
  display: flex;
  justify-content: start;
  margin-left: 10px;
}
.likes {
  margin-right: 20px;
}

#blog-separator {
  border: 1px solid rgb(157, 157, 157);
  width: 30%;
  margin: auto;
}

#account {
  margin: 3% 0 3% 0;
}

#delete-account {
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
#cancel,
#yes {
  background-color: white;
  color: red;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.messages {
  background-color: red;
  width: fit-content;
  font-weight: bold;
  width: 80%;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
  margin: 3% 5% 0 10%;
}

.hidden {
  display: none;
}
.sort-modal {
  display: flex;
  justify-content: end;
  margin: 0 3% 1% 0;
}
.sort-modal select {
  transition: all 0.2s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
}
.sort-modal select option {
  padding: 10px;
  font-family: "Courier New", monospace;
  font-size: 16px;
}
.sort-modal select option:hover {
  background-color: rgb(159, 159, 159);
  border-radius: 10px;
}

#sort {
  background-color: #063970;
  width: 100px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
}
#sort i {
  margin-right: 10px;
}
