{% extends 'anonymous/base.html' %} {% load static %} {%block content%}
<head>
  <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
  <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<div class="container">
  <h1 class="title">Your last chats ({{number_of_rooms}})</h1>
  {% for room in room_list%}
  <a href="{% url 'room' room.room_name%}">
    <div class="room">
      <div class="room-name">
        <h1 class="room-title">{{room.room_name}}</h1>
        <span><i class="fa-solid fa-pen-to-square" data-id="{{room.id}}"></i></span>
      </div>
      <p>{{room.date|date:"M d Y"}}</p>
    </div>
  </a>
  {%endfor%}
</div>
<script src=" {% static 'javascript/chat.js' %}"></script>
{%endblock%}
