{%extends 'anonymous/base.html'%} {%load static%} {%block content%}
<head>
  <title>{%block title%} Anonymous landing page {%endblock%}</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<div class="anonymous">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li
      style="
        background-color: white;
        width: fit-content;
        font-weight: bold;
        margin-left: 10%;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
      "
    >
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <img src="{% static 'images/anonymous.png' %}" alt="" />
</div>
<div class="container">
  {%for post in get_all_posts%}
  <div class="blog">
    <a href="{% url 'post' post.id %}">
      <h1 class="title">{{post.title}}</h1>

      <div class="data">
        <!-- prettier-ignore -->
        <span class="date">
        <i class="fa-solid fa-user modal" style="margin-right: 20px"></i> {{post.date|date:"M d Y"}}</span>
        <span class="views"> <i class="fa-solid fa-eye"></i> {{post.views}}</span>
      </div>
      <p>{{post.description| truncatechars:100}}</p>
    </a>
    <div class="interaction">
      <!-- Check if user interacted with the post and if so display proper icon -->
      {%if post.interaction.all%} {% for i in post.interaction.all%} {% if i.user == request.user%}
      {%if i.likes %}
      <span class="likes" data-id="{{post.id}}">
        <i class="fa-solid fa-thumbs-up"></i>

        <span class="like active">{{post.likes}}</span></span
      >
      <span class="dislikes" data-id="{{post.id}}">
        <i class="fa-regular fa-thumbs-down"></i>
        <span class="dislike">{{post.dislikes}}</span></span
      >
      {%endif%} {%if i.dislikes %}

      <span class="likes" data-id="{{post.id}}"
        ><i class="fa-regular fa-thumbs-up"></i>

        <span class="like">{{post.likes}}</span></span
      >
      <span class="dislikes" data-id="{{post.id}}"
        ><i class="fa-solid fa-thumbs-down"></i
        ><span class="dislike active">{{post.dislikes}}</span></span
      >
      {%endif%} {%endif%}{%if i.user != request.user%}
      <span class="likes" data-id="{{post.id}}"
        ><i class="fa-regular fa-thumbs-up"></i>

        <span class="like">{{post.likes}}</span></span
      >
      <span class="dislikes" data-id="{{post.id}}"
        ><i class="fa-regular fa-thumbs-down"></i
        ><span class="dislike">{{post.dislikes}}</span></span
      >
      {%endif%}{%endfor%} {%else%}
      <span class="likes" data-id="{{post.id}}"
        ><i class="fa-regular fa-thumbs-up"></i>

        <span class="like">{{post.likes}}</span></span
      >
      <span class="dislikes" data-id="{{post.id}}"
        ><i class="fa-regular fa-thumbs-down"></i
        ><span class="dislike">{{post.dislikes}}</span></span
      >
      {%endif%}
    </div>
  </div>

  <br />

  {%endfor%}
</div>
<script src="{% static 'javascript/index.js'%}"></script>
{%endblock%}
