{%extends 'anonymous/base.html'%} {%load static%} {%block content%}
<head>
  <title>{%block title%} Anonymous landing page {%endblock%}</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<div class="anonymous">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li
      style="
        color: green;
        background-color: white;
        width: 40ch;
        font-weight: bold;
        margin-left: 10%;
        font-family: 'Courier New', Courier, monospace;
      "
    >
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <img src="{% static 'images/anonymous.png' %}" alt="" />
</div>
<div class="container">
  {%for post in get_all_posts%}
  <div class="blog">
    <div class="modal-content hidden">
      <span class="close">&times;</span>
      <p class="contact">
        <a href="{% url 'new_room' user_code post.user.code%}"
          ><i class="fa-solid fa-message"></i> Text the publisher</a
        >
      </p>
    </div>
    <a href="{% url 'post' post.id %}">
      <h1 class="title">{{post.title}}</h1>

      <div class="data">
        <!-- prettier-ignore -->
        <span class="date"
        ><i class="fa-solid fa-user modal" style="margin-right: 20px"></i> {{post.date|date:"M d Y"}}</span
      >
        <span class="views"> <i class="fa-solid fa-eye"></i> {{post.views}}</span>
      </div>
      <p>{{post.description| truncatechars:100}}</p>
    </a>
    <div class="interaction">
      <span class="likes"
        ><i class="fa-regular fa-thumbs-up" data-id="{{post.id}}"></i>

        <span class="like">{{post.likes}}</span></span
      >
      <span class="dislikes"
        ><i class="fa-regular fa-thumbs-down" data-id="{{post.id}}"></i
        ><span class="dislike">{{post.dislikes}}</span></span
      >
    </div>
  </div>

  <br />

  {%endfor%}
</div>
<script src="{% static 'javascript/index.js'%}">
  // const likes = document.querySelectorAll(".likes");
  // likes.forEach((like) => {
  //   like.addEventListener("click", function () {
  //     console.log("a");
  //     const token = Cookies.get("csrftoken");
  //     console.log(token);
  //     fetch("http://127.0.0.1:8000/new-post/", {
  //       method: "POST",

  //       headers: {
  //         "Authorization:": `Bearer ${token}`,
  //         "Content-Type": "application/json",
  //       },
  //       body: JSON.stringify(1), // body data type must match "Content-Type" header
  //     }).then((err) => console.log(err));
  //   });
  // });
</script>
{%endblock%}
