<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} mt-3"{% endif %} style="width: 37ch;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form method="post">
        {%csrf_token%}
        <div class="container">
            <h1>Login, Anonymous</h1>
            <div class="input-info">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="input-info">
                <label for="password" title="Don't forget this password!">Password</label>
                <input type="password" id="password" name="password" placeholder="********">
                <p class="warning">If you forget this password you will not be able to get new a password!</p>
            </div>
            <button type="submit">Log In</button>
            <p class="register ">Not a user? <a href="{% url 'register' %}" class="text-dark">Register!</a></p>
        </div>
    </form>
</body>
</html>
